.blue-with-border{
    background:#0000FF ;
    color: white;
    border: 2px dashed white;
    margin-bottom: 200px;
    width: 200px;
    padding: 20px 50px 10px 40px;
    float: left;
}
#second-paragraph{
    background: #FF0000;
    color: yellow;
    margin-bottom: 200px;
    width: 200px;
    padding: 20px 50px 10px 40px;
    float: right;
}
.clear-float{
    clear: both;
}
